#menu ul
{
    list-style:none;
	z-index:999;
}
#menu ul li
{
    background-color:red;
    border:1px solid white;
    width:180px;
    height:45px;
    line-height:45px;
    text-align:center;
    border-radius:15px;
    float:left;
}
#menu ul li a
{
    text-decoration:none;
    color:white;
    display:block;
   border-radius:15px;
}
#menu ul li a:hover
{
    background-color: black;
     border-radius:15px;
}
.drop_down
{
	display:none;
	
}
#menu ul #reg:hover ul li
{
	display:block;
}